/*
=============== 
Album Themes
===============
*/

.amulet {
  --title-background: #43443f;
  --page-background: #e4e3e8;
  --table-header: #c0bec1;
  --table-header-text: #4e5253;
  --table-background: #f9d317;
  --title: #f9d317;
  --title-shadow: #ca5458;
  --btn: #f9d317;
  --btn-text: #4e5253;
  --btn-border: #e2763b;
  --nav-border: #9b1f17;
  --dropdown-text: #4e5253;
  --text: #4e5253;
}

.olg {
  --title-background: #8d2429;
  --page-background: #375466;
  --table-header: #516278;
  --table-header-text: #f6c221;
  --table-background: #968952;
  --title: #968952;
  --title-shadow: #4f3d15;
  --btn: #516278;
  --btn-text: #f6c221;
  --btn-border: #4a89ad;
  --nav-border: #f6c221;
  --dropdown-text: #f6c221;
  --text: #8d2429;
}

.juturna {
  --title-background: #b6b9b9;
  --page-background: #d9dcda;
  --table-header: #252a11;
  --table-header-text: #b6b9b9;
  --table-background: #b6b9b9;
  --title: #d3612c;
  --title-shadow: #da9964;
  --btn: #d3612c;
  --btn-text: #252a11;
  --btn-border: #252a11;
  --nav-border: #252a11;
  --dropdown-text: #56100a;
  --text: #d3612c;
}

.bsn {
  --title-background: #b9d0d6;
  --page-background: #86b0b9;
  --table-header: #e02843;
  --table-header-text: #b9cac7;
  --table-background: #f5d43b;
  --title: #e02843;
  --title-shadow: #f5d43b;
  --btn: #f5d43b;
  --btn-text: #3797b7;
  --btn-border: #e02843;
  --nav-border: #f5d43b;
  --dropdown-text: #e02843;
  --text: #3e3f1f;
}

.waves {
  --title-background: #5f3e58;
  --page-background: #000002;
  --table-header: #5f3e58;
  --table-header-text: #95d7e9;
  --table-background: #e9eae5;
  --title: #e9eae5;
  --title-shadow: #95d7e9;
  --btn: #95d7e9;
  --btn-text: #000002;
  --btn-border: #000002;
  --nav-border: #95d7e9;
  --dropdown-text: #95d7e9;
  --text: #5f3e58;
}

.descensus {
  --title-background: #9f7c5e;
  --page-background: #acccdb;
  --table-header: #47a7e6;
  --table-header-text: #1b364b;
  --table-background: #fbb425;
  --title: #fbb425;
  --title-shadow: #47a7e6;
  --btn: #fbb425;
  --btn-text: #13171b;
  --btn-border: #1b364b;
  --nav-border: #1b364b;
  --dropdown-text: #13171b;
  --text: #13171b;
}

/*
=============== 
Global Styles
===============
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--page-background);
  line-height: 1.5;
  font-size: 1rem;
}
/*ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}*/

/* 
====== 
Table
======
*/
.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 75%;
}

.table-header {
  background: var(--table-header);
  text-align: center;
  color: var(--table-header-text);
}

.table-rows {
  color: var(--text);
  background: var(--table-background);
  opacity: 90%;
}

/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--title-background);
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--nav-border);
  text-shadow: 2px 2px 4px var(--title-shadow);
  color: var(--title);
}
.nav-left {
  align-items: left;
  margin: 0 auto;
}

.nav-right {
  align-items: right;
  margin: 0 auto;
}
/*.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}*/

/* 
====== 
Dropdowns
======
*/
.btn {
  display: inline-block;
  color: var(--btn-text);
  text-align: center;
  vertical-align: middle;
  background-color: var(--btn);
  border: 2px var(--btn-border);
  padding: 0.375rem 0.75rem;
  font-size: 0.6rem;
  line-height: 1;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown-item {
  display: block;
  font-size: 0.6rem;
  width: 115%;
  padding: 0.25rem 0.25rem;
  color: var(--dropdown-text);
  text-align: center;
  background-color: var(--page-background);
}

/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
